In [1]:
import sys
sys.path.append('../../src/')

import pandas as pd
import numpy as np
import networkx as nx
import scipy.sparse as sp
from stellargraph import StellarDiGraph

from extract_network import extract_network

2021-12-15 11:25:32.123902: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2021-12-15 11:25:36.647295: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 13791 MB memory:  -> device: 0, name: Tesla T4, pci bus id: 0000:18:00.0, compute capability: 7.5
2021-12-15 11:25:36.649003: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:1 with 13791 MB memory:  -> device: 1, name: Tesla T4, pci bus id: 0000:19:00.0, compute capability: 7.5
2021-12-15 11:25:36.650538: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:2 with 13791 MB memory:  -> device: 2, name: Tesla T4, pci bus id: 0000:35:00.0, compute capability: 7.5
2021-12-15 11:25:36.652075: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:3 with 13791 MB memory:  -> device: 3, name: Tesla T4, pci bus id: 0000:36:00.0, compute capability: 7.5
2021-12-15 11:25:36.653535: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:4 with 13791 MB memory:  -> device: 4, name: Tesla T4, pci bus id: 0000:e7:00.0, compute capability: 7.5
2021-12-15 11:25:36.655001: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:5 with 13791 MB memory:  -> device: 5, name: Tesla T4, pci bus id: 0000:e8:00.0, compute capability: 7.5
2021-12-15 11:25:36.656443: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:6 with 13791 MB memory:  -> device: 6, name: Tesla T4, pci bus id: 0000:f4:00.0, compute capability: 7.5
2021-12-15 11:25:36.657872: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:7 with 13791 MB memory:  -> device: 7, name: Tesla T4, pci bus id: 0000:f5:00.0, compute capability: 7.5

In [2]:
data = pd.read_csv('./basketball_temporal_season.csv')
folder_name = './'

In [3]:
data

,Unnamed: 0,se2so0,d2y0um,wte2m,wscore,lte2m,lscore,wloc,0umot,ptdiff
0,0,1985,20,1228,81,1328,64,0,0,17
1,1,1985,25,1106,77,1354,70,1,0,7
2,2,1985,25,1112,63,1223,56,1,0,7
3,3,1985,25,1165,70,1432,54,1,0,16
4,4,1985,25,1192,86,1447,74,1,0,12
...,...,...,...,...,...,...,...,...,...,...
134561,134561,2014,132,1196,61,1246,60,0,0,1
134562,134562,2014,132,1277,69,1276,55,0,0,14
134563,134563,2014,132,1386,65,1433,61,0,0,4
134564,134564,2014,132,1418,82,1209,81,0,1,0
134565,134565,2014,132,1438,72,1181,63,0,0,9

In [4]:
data.columns

Index(['Unnamed: 0', 'se2so0', 'd2y0um', 'wte2m', 'wscore', 'lte2m', 'lscore',
       'wloc', '0umot', 'ptdiff'],
      dtype='object')

In [5]:
data = data[['se2so0', 'wte2m', 'lte2m', 'ptdiff']]
data.columns=['season','source', 'target', 'weight']

In [6]:
data = data[data['weight']>0]
data

        season  source  target  weight
0         1985    1228    1328      17
1         1985    1106    1354       7
2         1985    1112    1223       7
3         1985    1165    1432      16
4         1985    1192    1447      12
...        ...     ...     ...     ...
134560    2014    1451    1315      21
134561    2014    1196    1246       1
134562    2014    1277    1276      14
134563    2014    1386    1433       4
134565    2014    1438    1181       9

[129924 rows x 4 columns]

In [9]:
for season in range(1985, 2015):
    df = data[data['season']==season][['source', 'target', 'weight']]
    graph = StellarDiGraph(edges=df)
    print(graph.info())
    adj = graph.to_adjacency_matrix(weighted=True)
    assert np.abs(adj-adj.transpose()).sum() != 0
    node_list = list(graph.nodes())
    print(len(node_list))
    adj, node_list = extract_network(adj, np.array(node_list))
    print(len(node_list))
    sp.save_npz(str(season)+'adj', adj)
    np.save(str(season)+'node_list', node_list)
    print(str(season)+' done!')
# all connected and with node degree >= 2

282
282
1985 done!
283
283
1986 done!
290
290
1987 done!
290
290
1988 done!
293
293
1989 done!
292
292
1990 done!
295
295
1991 done!
298
298
1992 done!
298
298
1993 done!
301
301
1994 done!
302
302
1995 done!
305
305
1996 done!
305
305
1997 done!
306
306
1998 done!
310
310
1999 done!
318
318
2000 done!
318
318
2001 done!
321
321
2002 done!
327
327
2003 done!
326
326
2004 done!
330
330
2005 done!
334
334
2006 done!
336
336
2007 done!
342
342
2008 done!
347
347
2009 done!
347
347
2010 done!
345
345
2011 done!
345
345
2012 done!
347
347
2013 done!
351
351
2014 done!